[submodule "vim.symlink/bundle/ctrlp.vim"]
	path = vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim.symlink/bundle/syntastic.vim"]
	path = vim.symlink/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.symlink/bundle/vim-less"]
	path = vim.symlink/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim.symlink/bundle/vim-matchit"]
	path = vim.symlink/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim.symlink/bundle/vim-surround"]
	path = vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim.symlink/bundle/zencoding-vim"]
	path = vim.symlink/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
